<h1><%= @account.name %></h1>
<div class="mb-3">
  <%= link_to "Edit Account", edit_account_path(@account), class: "btn btn-primary" %>
</div>
<h3>Purchase History</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Year</th>
      <th>Month</th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
    <tr>
      <td><%= sale.product.name %></td>
      <td><%= sale.quantity %></td>
      <td><%= sale.year %></td>
      <td><%= sale.month %></td>
    </tr>
    <% end %>
  </tbody>
</table>